<template class="task-template">
  <section id="connect-section" class="section view-section">
		<span class="page-title">Arduino Control Panel</span>
    <div class="usb-icon"></div>
    <div class="connected-button disconnected scanning with-hover">
      <div class="connected-indicator"></div>
      <span class="connected-status">Scanning</span>
    </div>
    <input class="port-input" type="text" />
    <div class="baud">
      <span class="baud-label">Baud Rate:</span>
      <select id="baudrate" class="form-control">
        <option value="115200">115200</option>
        <option value="57600">57600</option>
        <option value="38400">38400</option>
        <option value="19200">19200</option>
        <option value="9600" selected>9600</option>
        <option value="4800">4800</option>
        <option value="2400">2400</option>
        <option value="1800">1800</option>
        <option value="1200">1200</option>
        <option value="600">600</option>
        <option value="300">300</option>
        <option value="200">200</option>
        <option value="150">150</option>
        <option value="134">134</option>
        <option value="110">110</option>
        <option value="75">75</option>
        <option value="50">50</option>
      </select>
    </div>

    <script type="text/javascript">
      require('./renderer-process/connect')
    </script>
  </section>
</template>
