<template class="task-template">
  <nav class="sidebar section">
    <div class="nav-tabs">
      <div data-section="connect" class="nav-tab active-tab connect-tab">
        <div class="nav-icon-wrapper">
          <i class="fab fa-usb"></i>
        </div>
      </div>
      <div data-section="led" class="nav-tab led-tab">
        <div class="nav-icon-wrapper">
          <i class="far fa-lightbulb"></i>
        </div>
      </div>
      <div data-section="stretch" class="nav-tab stretch-tab">
        <div class="nav-icon-wrapper">
          <i class="fas fa-expand-arrows-alt"></i>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      require('./renderer-process/nav')
    </script>
  </nav>
</template
