<template class="task-template">
  <section id="stretch-section" class="section view-section">
    <div class="stretch-tracker-container">
      <span class="app-container-label stretch-container-label">Resistance Stretch Tracker</span>
      <span class="app-container-description">Visualize the stretchy fabric's resistance</span>
      <div class="stretch-tracker">
        <span class="resistance-value">0 Ohms</span>
      </div>
      <span class="calibration-header">Calibration Settings:</span>
      <div class="calibration-container">
        <span class="calibration-label">0% Stretch Ohm</span>
        <input class="min-calibration" type="text" value="5000" />
      </div>
      <div class="calibration-container">
        <span class="calibration-label">100% Stretch Ohm</span>
        <input class="calibration" type="text" value="30000" />
      </div>
    </div>

    <script type="text/javascript">
      require('./renderer-process/stretch')
    </script>
  </section>
</template>
