* {
  box-sizing: border-box;
}

html {
  position: absolute;
  background: none;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
body {
  font-family: monospace;
  position: absolute;
  display: flex;
  background: none;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-app-region: drag;
}

.fontawesome-i2svg-active nav {
  display: initial;
}

.section {
  position: relative;
  overflow: hidden;
  display: none;
  opacity: 0;
}
.section.is-shown {
  display: flex;
  opacity: 1;
}

nav.sidebar {
  display: none;
  width: 80px;
  min-width: 80px;
  background: #FAFAFA;
  border-right: 1px solid #DDD;
}

.nav-tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 64px;
}

.nav-tab {
  padding: 15px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid #FAFAFA;
  border-bottom: 1px solid #FAFAFA;
}

.active-tab.nav-tab {
  cursor: auto;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  background: #FFF;
}

.nav-icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-tab svg.svg-inline--fa {
  color: #999;
  width: 22px;
  height: 22px;
}

.active-tab.connect-tab .nav-icon-wrapper {
  background: rgba(23,161,165, 0.1);
  border: 1px solid rgba(23,161,165, 1);
}
.active-tab.connect-tab svg.svg-inline--fa {
  color: rgb(23,161,165);
}

.active-tab.led-tab .nav-icon-wrapper {
  background: rgba(223,147,148, 0.1);
  border: 1px solid rgba(223,147,148, 1);
}
.active-tab.led-tab svg.svg-inline--fa {
  color: rgb(223,147,148);
}

.active-tab.stretch-tab .nav-icon-wrapper {
  background: rgba(160, 101, 160, 0.1);
  border: 1px solid rgb(160, 101, 160);
}
.active-tab.stretch-tab svg.svg-inline--fa {
  color: rgb(160, 101, 160);
}

div.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section#connect-section {
  text-align: center;
  background-color: #E1F3F4;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  flex-grow: 1;
}

.page-title {
  color: rgb(23,161,165);
  font-size: 18px;
  font-weight: bold;
}

.usb-icon {
  border-radius: 100%;
  border: 5px solid rgb(23,161,165);
  position: relative;
  background-color: rgba(23,161,165, 0.5);
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin: 20px;
}

.usb-icon:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url('../img/usb.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
}

.port-input {
  display: none;
}

.connected-button {
  background: rgb(23,161,165);
  border-radius: 15px;
  color: white;
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 8px;
  width: 120px;
  justify-content: center;
  cursor: pointer;
}
.connected-button.disconnected {
  background: rgb(53, 191, 95);
}
.connected-button.disconnected.scanning {
  background: rgb(206, 156, 43);
  cursor: auto;
}
.connected-button.disconnected.not-found {
  background: #dc6969;
  cursor: auto;
}

.connected-button.with-hover:hover {
  opacity: 1;
  background: #dc6969;
}
.connected-button.with-hover.disconnected:hover {
  background: rgb(53, 191, 95);
}
.connected-button.with-hover.disconnected.scanning:hover {
  background: rgb(206, 156, 43);
  opacity: 0.7;
}
.connected-button.with-hover.disconnected.not-found:hover {
  background: #dc6969;
  opacity: 0.7;
}

.connected-status {
  font-size: 12px;
}

#portPath {
  display: none;
}

.baud {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
}

.baud-label {
  color: rgb(23,161,165);
  font-size: 12px;
}

#baudrate {
  background: white;
  border: none;
  margin-left: 10px;
  height: 25px;
  width: 100px;
  font-family: monospace;
  cursor: pointer;
  color: rgb(23,161,165);
  font-weight: bold;
}

.app-container-label {
  display: block;
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.app-container-description {
  font-size: 12px;
  color: #888;
  display: block;
}

section#stretch-section {
  flex: 1;
  background: rgb(242,234,243);
}

.stretch-tracker-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 0px auto;
}

.app-container-label.stretch-container-label {
  color: rgb(120, 61, 100);
}

.stretch-tracker {
  border-radius: 5px;
  height: 50px;
  background: #333;
  margin: 20px 0px;
  width: 100%;
  transition: width 0.1s;
  background: #666;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resistance-value {
  font-weight: bold;
  color: #FAFAFA;
}

.calibration-header {
  font-size: 12px;
  color: #888;
  display: block;
}

.calibration, .min-calibration {
  padding: 5px;
  border-radius: 3px;
  outline: none;
  border: none;
  text-align: center;
  font-weight: bold;
  color: #555;
}

.calibration-label {
  color: #555;
  font-weight: bold;
  font-size: 12px;
  margin-right: 10px;
}

.calibration-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

section#led-section {
  flex: 1;
  background: rgb(251,241,241);
}

.color-picker-container {
  flex: 2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-container-label.color-picker-label {
  color: #b96b6c;
}
.color-picker-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#color-picker {
  -webkit-app-region: no-drag;
}
#color-picker .picker {
  width: 100px;
  border-radius: 5px;
  border: 3px solid white;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}
#color-picker .picker-indicator {
  border: 2px solid white;
  width: 3px;
  height: 3px;
  opacity: 1;
  background: transparent;
}

#color-picker .slide-wrapper {
  margin-left: 5px;
}

#color-picker .slide {
  border: 3px solid white;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
}

#color-picker .slide-indicator {
  border-radius: 0px;
  margin-top: 5px;
  padding: 0px;
  height: 8px;
  left: 0px;
  box-sizing: border-box;
  opacity: 1;
  background: rgba(0,0,0,0.2);
  border: 2px solid white;
}

div.led-lights {
  margin: 16px 0px;
  background: #FFF;
  border: 1px solid #DDD;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  width: 252px;
  padding: 5px;
}

div.led-container {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  flex-flow: row wrap;
}

.led-light {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid;
  background-color: #c7c7c7;
  border-color: #777;
  /* background-color: #8c8c8c;
  border-color: #000; */
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.25s;
}

.led-light.selected {
  width: 20px;
  height: 20px;
  margin: 20px;
}

.led-badge {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 3px;
  transition: opacity 1s ease, border-radius 0.8s ease 0.2s, transform 1s ease, background-color 0.1s ease;
  cursor: pointer;
  opacity: 0;
  z-index: 20;
}
.animate-to .led-badge {
  transform: rotate(90deg);
  opacity: 1.0;
  border-radius: 100%;
}
.led-badge:hover {
  transition: none;
  width: 14px;
  height: 14px;
  margin: 3px;
}

.led-badge.clicked:nth-child(1) {
  background: #d01515;
}
.led-badge:nth-child(1) {
  background: #ffcece;
  border: 1px solid #d01515;
}
.led-badge.clicked:nth-child(2) {
  background: green;
}
.led-badge:nth-child(2) {
  background: #d0ecd0;
  border: 1px solid green;
}
.led-badge.clicked:nth-child(3) {
  background: blue;
}
.led-badge:nth-child(3) {
  background: #cacae8;
  border: 1px solid blue;
}

.led-badge.clicked:nth-child(4) {
  /* background: #000; */
  background: #777;
}
.led-badge:nth-child(4) {
  background: #c7c7c7;
  border: 1px solid #777;
  /* background: #8c8c8c;
  border: 1px solid #000; */
}
.led-badge:nth-child(5) {
  visibility: hidden;
}
.led-badge.clicked:nth-child(6) {
  background: #CCC;
}
.led-badge:nth-child(6) {
  background: #FAFAFA;
  border: 1px solid #CCC;
}

.led-badge.selected:nth-child(7) {
  background: #22b9b9;
}
.led-badge:nth-child(7) {
  background: #b7f1ee;
  border: 1px solid #22b9b9;
}
.led-badge.selected:nth-child(8) {
  background: #bbbb00;
}
.led-badge:nth-child(8) {
  background: #ffffa5;
  border: 1px solid #bbbb00;
}
.led-badge.selected:nth-child(9) {
  background: #d401c4;
}
.led-badge:nth-child(9) {
  background: #ffe7fd;
  border: 1px solid #d401c4;
}

section#console-section {
  flex-direction: column;
  height: 100%;
  min-width: 350px;
  background: #FAFAFA;
  border-left: 1px solid #DDD;
  position: relative;
}

.serial-console-container {
  flex: 1;
  height: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
  color: #555;
}

.serial-console-header {
  padding: 7px;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #EEE;
  height: 40px;
}

.serial-console-label {
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
  flex: 1;
}

.serial-clear:hover {
  background: white;
  color: #555;
}
.serial-clear {
  position: absolute;
  right: 6px;
  border: 1px solid #EEE;
  outline: none;
  background: #FAFAFA;
  border-radius: 5px;
  height: 28px;
  width: 28px;
  color: #777;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.7em;
  -webkit-app-region: no-drag;
}

.serial-output {
  -webkit-app-region: no-drag;
  flex: 1;
  width: 100%;
  background: #fdfdfd;
  box-sizing: border-box;
  padding-top: 8px;
  font-family: monospace;
  font-weight: bold;
  color: #555;
  border-radius: 2px;
  border: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  font-size: 11px;
}

.serial-msg {
  padding: 1px;
  display: inline-block;
  margin-right: auto;
  margin-left: 10px;
  font-size: 12px;
}
.serial-msg.system-color {
  color: #666;
}
.serial-msg.connect-color {
  color: rgb(4, 142, 146);
}
.serial-msg.led-color {
  color: rgb(226, 116, 117);
}
.serial-msg.stretch-color {
  color: rgb(160, 101, 160);
}

.serial-console-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  border-top: 1px solid #EEE;
}

.serial-input-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-radius: 2px;
  align-items: center;
  height: 30px;
}

.serial-caret {
  margin: 0px 8px;
  font-family: monospace;
  font-weight: bold;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  border-radius: 100%;
}

.serial-caret.led-color {
  background: rgba(223,147,148, 0.1);
  color: rgb(223,147,148);
  border: 1px solid rgb(223,147,148);
}
.serial-caret.connect-color {
  background: rgba(23,161,165, 0.1);
  color: rgb(23,161,165);
  border: 1px solid rgb(23,161,165);
}
.serial-caret.stretch-color {
  background: rgba(160, 101, 160, 0.1);
  color: rgb(160, 101, 160);
  border: 1px solid rgb(160, 101, 160);
}

.serial-text {
  background: none;
  border: none;
  flex: 1;
  font-size: 14px;
  outline: none;
  font-family: monospace;
  color: #555;
}

button.serial-send {
  cursor: pointer;
  margin: 0px 8px;
  border: none;
  border-radius: 2px;
  font-family: monospace;
  font-weight: bold;
  color: white;
  outline: none;
  padding: 8px;
}

button.serial-send.connect-color {
  background: rgb(23,161,165);
}
button.serial-send.connect-color:hover {
  background: rgb(4, 142, 146);
}
button.serial-send.led-color {
  background: rgb(223,147,148);
}
button.serial-send.led-color:hover {
  background: rgb(226, 116, 117);
}
button.serial-send.stretch-color {
  background: rgb(190, 131, 190);
}
button.serial-send.stretch-color:hover {
  background: rgb(160, 101, 160);
}
